* {
    padding: 0;
    margin: 0;
}

element {
    --main-bg-color: #252422;
}

.main-header {
    background-color: var(--main-bg-color)
    color: white;
    text-align: center;  
    height: 7rem;  
}

.navigation {
    text-decoration: none;
}