@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: 'Roboto', serif;
  font: 18px/1.5;
  --rasin-black: #252422;
  --dark-purple: #39222e;
  --burnt-brown: #a37774;
  --black-olive: #403d39;
  --weldon-blue: #7f989b;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 6rem 1fr 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  min-height: 100vh;
  background-image: url('../Capture.PNG');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.main-header {
  color: var(--dark-purple);
  text-align: center;
  grid-area: header;
}

.wheel-form {
  display: flex;
  flex-direction: column;
  grid-area: form;
  align-items: center;
  justify-content: center;
  height: 100%;
}

select {
  background-color: var(--black-olive);
  color: var(--weldon-blue);
  width: 15rem;
  margin-top: 1rem;
  font-size: 24px;
  border: none;
  border-radius: 25px;
}

option {
  background-color: var(--black-olive);
  color: var(--weldon-blue);
}

.footer {
  align-items: center;
  color: white;
  display: flex;
  grid-area: footer;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: main;
}

.content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-card-list {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  column-gap: 50%;
  grid-area: main;
  margin-left: 2rem;
}

.place-card {
  background-color: var(--black-olive);
  border: 10px solid white;
  border-radius: 15px;
  box-shadow: 9px 12px 3px black;
  color: var(--burnt-brown);
  /* display: grid; */
  font-size: 28px;
  /* grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'priceRating'
    'name'
    'ratingPrice'; */
  height: 20rem;
  margin-bottom: 2rem;
  max-height: 30rem;
  width: 12rem;
  max-width: 15rem;
}

.place-card__title {
  display: flex;
  grid-area: name;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.priceRating {
  grid-area: priceRating;
  padding: 0.5rem;
}

.priceRating--inverted {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  transform: scaleY(-1);
}

.place-card__rating--inverted {
  transform: scaleX(-1);
}

.card-content {
  display: flex;
  justify-content: space-around;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 150px 150px;
}

.modal-button {
  margin: 0.5rem;
  width: 1rem;
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image__area {
  height: 70vh;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-place__title {
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.random-place-button {
  position: absolute;
  margin: 0 auto;
}

.card-wrapper {
  /* opacity: 0.6; */
  min-height: 100%;
  background-size: cover;
}

.overlay {
  color: var(--weldon-blue);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  height: 19rem;
}

@media only screen and (max-width: 600px) {
  wrapper {
    display: grid;
    grid-template-rows: 6rem 1fr 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'header header header'
      'main main main'
      'footer footer footer';
    min-height: 100vh;
    background-image: url('../Capture.PNG');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .place-card-list {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-area: main;
    margin: 0 auto;
  }

  .modal-main {
    position: fixed;
    background: white;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 150px 150px;
  }

  .modal-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-image__area {
    height: 20vh;
  }
}
